 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'BLog App', blogs_path, class:"navbar-brand" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <% if user_signed_in? %>

        <li class="nav-item">
          <%= link_to "Add Blogs", new_blog_path, class:"nav-link" %>          
        </li>
        
        <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link" %>          
        </li>

        <li class="nav-item">
          <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link" %>          
        </li>

        <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>          
        </li>

        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class:"nav-link" %>          
        </li>

        <% end %>
      </ul>
    <%= form_with url: 'blogs', method: 'get' ,class:  "d-flex" ,local: true do |form| %>
      <!-- <form id="search-field"> -->
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
        <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->

        <%= form.text_field :q, class: 'form-control', placeholder: 'Search....', autofocus: false, value: @term %>
        <%= button_tag :Search, class: "btn btn-outline-success" %>
      

     <!--  </form> -->
    <% end %>
    </div>
  </div>
</nav>